body {
    background-image:url('../images/stock-image.jpg');
    overflow: hidden;

}

.container-fluid {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../images/stock-image.jpg') center center;
    background-size: cover;
}
  
.topbar {
    background-color: whitesmoke !important;
    border-bottom: solid 4px #0078FE;
}

/* Zap topbar logo*/
img {
    width:180px;

}

/* Zap kovan faucet h5 */
h4 {
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

nav a {
    padding-right: 14px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}


nav a:hover {
    text-decoration: none;
    color:#0078FE;
}

h5 {
    color:slate;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
   
}

p {
    color:whitesmoke;
}

#address {
    color:#0078FE;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}

button {
    display:block;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.receipt {
    width: 100%;
}

.receipt * {
    /* background-color: #0c0c0c; */
    border: none;
}

